/*
  Author: Kor Dwarshuis, kor@dwarshuis.com
  Created: 2024-06-19
  Description: -
*/
#content dl dd.hidden {
  display: none;
}

#content dl dd.visible {
  display: block;
}

.collapse-all-defs-button {
  float: right;
}