.alphabet-index-container {
  margin-bottom: 1em;
}

.alphabet-index-container,
.number-of-terms {
  font-size: 0.8em;
  text-align: center;
  width: 100%;
}

/* The letters of the alphabet */
.alphabet-index-container a {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  font-size: 0.9rem;
  height: 20px;
  line-height: 20px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  width: 20px;
}