*:target {
  /* scroll-margin-top: 160px; */
  scroll-margin-top: calc(50vh);
  /* Matches sticky header height */
}

body:not([hashscroll]) *:target {
  animation: highlight-target 3.5s 0.25s ease;
}

body:not([hashscroll]) dt:has(:target) {
  animation: highlight-target-parent-dt 3.5s 0.25s ease;
}

svg[icon] {
  width: 1.25em;
  height: 1.25em;
  vertical-align: text-top;
}

@keyframes highlight-target {
  50% {
    background-color: yellow;
  }
}

@keyframes highlight-target-parent-dt {
  50% {
    background-color: yellow;
    border: 1px solid rgb(0, 200, 255);
  }
}

#svg {
  display: none;
}


main * {
  word-break: break-all;
  /* Breaks at any character */
  /* OR */
  overflow-wrap: break-word;
  /* Breaks only at allowed break points, more browser support */
}

dd td img {
  max-width: 30px;
}





/* Notices */

.notice {
  margin: 1em 0;
  padding: 0.5em 0.9em 0.55em 0.65em;
  border-left: .5em solid;
}

.notice p {
  margin: 0.4em 0 0;
}

.note {
  background: #E9FBE9;
  border-color: #52E052;
}

.note .notice-link {
  display: block;
  color: #178217;
}

.issue {
  background: rgb(233, 240, 251);
  border-color: rgb(82, 127, 224);
}

.issue .notice-link:before {
  display: block;
  color: rgb(30, 76, 174);
}

.warning {
  background: #FBE9E9;
  border-color: #E05252;
}

.warning .notice-link {
  display: block;
  color: #AE1E1E;
}

.example {
  color: #cebe00;
  background: #1a1e23;
  border-left: 0.5em solid;
}

.example .notice-link {
  display: block;
  color: inherit;
  font-size: 1.1em;
  font-family: Heebo, san-serif;
}

.example pre[class*="language-"] {
  padding: 0;
  border-radius: 0;
}

.todo {
  background: #fbe4ff;
  border-color: #9700e2;
}

.todo .notice-link {
  display: block;
  color: #6d00a2;
}

/* End Notices */