/*
 * Search bar, input, nav, nr of results
 */


/*
 * Search results, matches, and highlighting
 */

/* Basic styles */
.highlight-matches-search-h7vc6omi2hr2880 {
  font-size: 1em;
  outline: 3px solid #1d6dae39;
  outline-offset: 5px;

  /* Works in tandem with the setTimeout in JS: */
  transition: outline 0.3s ease-in-out;
}

.highlight-matches-search-h7vc6omi2hr2880.active {
  outline: 3px solid #1d6dae;
  /* outline-offset: 5px; */
  /* Works in tandem with the setTimeout in JS: */
  transition: outline 0.3s ease-in-out;
}

/* Specific styles */
.highlight-matches-DIF-search-h7vc6omi2hr2880 {
  background-color: #1d6dae11;
}

.highlight-matches-ToIP-search-h7vc6omi2hr2880 {
  background-color: #a9dde0b0;
}

.highlight-matches-BTC-search-h7vc6omi2hr2880 {
  background-color: #f19019a1;
}

.highlight-matches-KERI-search-h7vc6omi2hr2880 {
  background-color: #b5d070d5;
}

.highlight-matches-SSI-search-h7vc6omi2hr2880 {
  background-color: yellow;
}

.highlight-matches-GLEIF-search-h7vc6omi2hr2880 {
  background-color: #52dac6a6;
}